<li class="ingredients">
	{{name}} {{price}}

			<input type="checkbox" class="change-selected"  {{checked}} data-id="{{id}}"  data-newselected="{{selected}}">
<label for="change-selected"></label>
		{{!-- {{#if selected}}Remove!{{else}}Add!{{/if}} --}}
	</button>

	{{!-- <button class="but delete-ingredient fa fa-trash   " data-id="{{this.id}}"></button> --}}
	<a htef="del" class=" delete-ingredient fa fa-trash   " data-id="{{this.id}}"></a>
</li>
